.headerlogo {
    float: left;
    font-size: 45px;
    padding-top: 15px;
    font-weight: bold;
    color: #fff;
    margin-left: 6px;
    font-family: Roboto, 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;

}

.inputEmail{
    
}